<p class="text-right">
  <span class="badge badge-secondary">
    Last Update: {{ (lastUpdate | async) | date: 'mediumTime' }} | Total notes: {{ (notes | async).length }}
  </span>
</p>
<button class="btn btn-primary" (click)="clearNotes()" style="margin-bottom:10px;">Delete All</button>

<input type="text" 
       class="form-control" 
       placeholder="Search for notes..." 
       style="margin-bottom:20px;"
       #searchBox 
       id="search-box" 
       (keyup)="searchNote(searchBox.value)">