<h6>Create Note:</h6>
<form (ngSubmit)="onSubmit()" #noteForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <textarea 
        class="form-control" 
        placeholder="Description" 
        id="description" 
        [(ngModel)]="model.description" 
        name="description" 
        #description="ngModel" rows="5"></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
<br />
<h6>Notes List:</h6>
<div *ngIf="(notes | async)?.length!=0">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Note Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes | async">
        <td><span (click)="toggleNote(note)" [class.completed]="note.isCompleted">{{ note.id }}</span></td>
        <td><span (click)="toggleNote(note)" [class.completed]="note.isCompleted">{{ note.description }}</span></td>
        <td><button class="btn btn-primary" (click)="removeNote(note)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

